/*css基础样式*/
/*css样式重置*/
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  /*所有盒子采用内减模式*/
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 0.16rem;
  color: #24292e;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.6;
  background-color: #f7f7f7;
}
a {
  background-color: initial;
  color: #286cda;
  text-decoration: none;
  border-bottom: 0.02rem solid #dbe2ef;
}
a:active,
a:hover {
  outline-width: 0;
}
a:hover {
  border-bottom: 0.02rem solid #286cda;
}
a:not([href]) {
  color: inherit;
  text-decoration: none;
}
input {
  border: none;
  outline: none;
}
/*废物利用*/
em,
i {
  font-style: normal;
}
/*公共样式*/
.fl {
  float: left;
}
.fr {
  float: right;
}
/*清除浮动*/
.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.fz-48 {
  font-size: 0.48rem;
}
.fz-40 {
  font-size: 0.4rem;
}
h1 {
  font-size: 0.32rem;
}
h2 {
  font-size: 0.24rem;
}
h3 {
  font-size: 0.2rem;
}
h4 {
  font-size: 0.16rem;
}
h5 {
  font-size: 0.14rem;
}
h6 {
  font-size: 0.12rem;
}
.font-light {
  font-weight: 300;
}
.font-regular {
  font-weight: 400;
}
.font-heavy {
  font-weight: 600;
}
.height-100 {
  height: 100%;
}
hr {
  box-sizing: initial;
  overflow: hidden;
  background: transparent;
  height: 0.02rem;
  padding: 0;
  background-color: #e1e4e8;
  border: 0;
  border-radius: 0.02rem;
}
.card-container {
  width: 100%;
  padding: 0.1rem;
}
.card-content {
  position: relative;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05), 0 0 1px rgba(0, 0, 0, 0.1);
  padding: 0.2rem;
  border-radius: 5px;
}
.common-header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  line-height: 60px;
}
.common-header a {
  color: #24292e;
  border-bottom: none;
}
.common-header a:active,
.common-header a:hover {
  outline-width: 0;
  color: #286cda;
}
.common-header .logo {
  height: 60px;
  padding: 0 0.1rem;
  text-align: center;
}
.common-header .logo img {
  width: 100%;
  max-width: 110px;
  vertical-align: middle;
}
.common-header .menu {
  text-align: center;
  height: 60px;
}
.common-header .menu a {
  padding: 0 0.12rem;
}
.common-header .menu .menu-not-lg {
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}
.common-footer {
  margin-top: 0.3rem;
  background-color: #fff;
  text-align: center;
  padding: 0.3rem;
  line-height: 1.8;
}
.personal-info {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  text-align: center;
}
.personal-info a {
  display: block;
  color: #24292e;
  border: none;
}
.personal-info .user-img {
  display: inline-block;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  overflow: hidden;
}
.personal-info .user-img img {
  width: 100%;
}
.personal-info .user-img img:hover {
  transition: transform 0.3s;
  transform: scale(1.1);
}
.personal-info .nav-statistics h6 {
  margin-top: 0.05rem;
}
.personal-info .nav-statistics h2 {
  font-size: 0.32rem;
}
.personal-info .nav-github {
  background-color: #276cda;
  height: 35px;
  margin: 0.05rem 0;
  border-radius: 30px;
  line-height: 35px;
  color: #fff;
}
.personal-info .nav-github > span {
  padding-left: 5px;
}
.personal-info .nav-contact {
  margin-top: 0.05rem;
}
.personal-info .nav-contact i {
  font-size: 0.2rem;
}
.personal-info .words p:not(:last-child) {
  color: #276cda;
}
.category-card h6 {
  margin-bottom: 0.1rem;
}
.category-card a {
  font-size: 0.14rem;
  display: block;
  padding: 0.03rem 0.1rem;
  color: #24292e;
  border-bottom: none;
}
.category-card a:hover {
  color: #286cda;
  background-color: #f5f5f5;
}
.tags-card h6 {
  margin-bottom: 0.1rem;
}
.tags-card a {
  display: inline-block;
  margin: 0.05rem 0.03rem;
  font-size: 0.12rem;
  padding: 0.03rem 0.1rem;
  border-radius: 0.15rem;
  color: #24292e;
  border-bottom: none;
  background-color: #f5f5f5;
}
.tags-card a:hover {
  color: #286cda;
}
.recent-articles a::before {
  content: "-";
  font-weight: 600;
  margin-right: 0.1rem;
}
