.article-list .card-content {
  padding: 0;
  overflow: hidden;
}
.article-list .img-box {
  position: relative;
  width: 100%;
  overflow: hidden;
  text-align: center;
  height: 4rem;
}
.article-list .img-box > img {
  width: 100%;
}
.article-list .abstract {
  padding: 0.1rem 0.2rem;
  background-color: #fff;
}
.article-list .abstract .note-tips {
  color: #888;
}
.article-list .abstract .note-tips i {
  font-size: 0.12rem;
}
.article-list .abstract .note-tips h6 {
  display: inline;
}
.article-list .abstract .title {
  display: block;
  color: #24292e;
  font-size: 0.32rem;
  margin-bottom: 0.15rem;
  border: none;
}
.article-list .abstract .title:hover {
  color: #2d75ff;
  border: none;
}
.article-list .abstract .content {
  text-align: justify;
}
.article-list .abstract .category-nav {
  margin: 0.15rem 0;
}
.article-list .abstract .category-nav .level-item {
  display: inline-block;
  margin-right: 0.05rem;
}
.article-list .abstract .category-nav .level-item i {
  font-size: 0.18rem;
}
.article-list .abstract .category-nav .level-item a {
  font-size: 0.12rem;
  padding: 0.03rem 0.1rem;
  border-radius: 0.15rem;
  color: #24292e;
  border-bottom: none;
  background-color: #f5f5f5;
}
.article-list .abstract .category-nav .level-item a:hover {
  color: #2d75ff;
}
